/**
 * Some additional CSS styles for the CMS.
 *
 * @package SEO
 * @subpackage Metadata
 * @author Andrew Gerber <atari@graphiquesdigitale.net>
 * @version 1.0.0
 *
 */

/* success & failure styles */

#Root_SEO_set .field .success,
#Root_SEO_set .ui-tabs-nav .success a {
	color: green;
}

#Root_SEO_set .field .error,
#Root_SEO_set .ui-tabs-nav .error a {
	color: red;
}

/* pre-formatted styles */

#Root_SEO_set pre {
	font: 10px monospace;
	white-space: pre-wrap;
}
#Root_SEO_set pre.bold {
	margin: 2em 0;
	font-weight: bold !important;
}

/* reposition upload field + description */
/* @todo (maybe?) increase specificity */

/*#Root_SEO_set*/
.cms-edit-form .ss-uploadfield .middleColumn {
	clear: none;
	width: 510px;
	margin-left: 184px;
}
/*#Root_SEO_set*/
.cms-edit-form .ss-uploadfield .description {
	margin-left: 184px;
}
