/**
 * Some additional CSS styles for the CMS.
 *
 * @package SEO
 * @subpackage Metadata
 * @author Andrew Gerber <atari@graphiquesdigitale.net>
 * @version 1.0.0
 *
 */

/* special header & description label styles */

#Root_SEO_set h2,
#Root_SEO_set h3,
#Root_SEO_set h4,
#Root_SEO_set h5,
#Root_SEO_set h6 {
	margin-bottom: 8px;
}
#Root_SEO_set h2 span.aka,
#Root_SEO_set h3 span.aka,
#Root_SEO_set h4 span.aka,
#Root_SEO_set h5 span.aka,
#Root_SEO_set h6 span.aka {
	font-size: 1rem;
	font-style: italic;
}
#Root_SEO_set .information p,
#Root_SEO_set label.information {
	display: block;
	padding: 8px;
	border: 1px solid #d2d5d8;
	background-color: #f0f2f4;
	margin-bottom: 16px;
}

/* success & failure styles */

#Root_SEO_set .field .success,
#Root_SEO_set .ui-tabs-nav .success a {
	color: green;
}

#Root_SEO_set .field .error,
#Root_SEO_set .ui-tabs-nav .error a {
	color: red;
}

/* special favicon style */

#Root_SEO_set .field .success.favicon {
	padding-bottom: 24px;
	background: transparent url('/favicon.ico') no-repeat left bottom;
}

/* pre-formatted styles */

#Root_SEO_set pre {
	font: 10px monospace;
	white-space: pre-wrap;
}
#Root_SEO_set pre.bold {
	margin: 2em 0;
	font-weight: bold !important;
}

/* reposition upload field + description */
/* @todo (maybe?) increase specificity */

/*#Root_SEO_set*/
.cms-edit-form .ss-uploadfield .middleColumn {
	clear: none;
	width: 510px;
	margin-left: 184px;
}
/*#Root_SEO_set*/
.cms-edit-form .ss-uploadfield .description {
	margin-left: 184px;
}
